<div id="about" class="marketing-about-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="marketing-about-image">
                    <img src="assets/images/about/about-us.png" alt="about-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="marketing-about-content">
                    <span class="sub-title">About Us</span>
                    <h2>Duces, leaders in latin, is what we strive for - leaders in <b>Data</b>!</h2>
                    <p>We're a boutique Data consultancy firm, offering professional services in technology, having a unique model in which seasoned professionals in the team are actual partners of the firm.</p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="box">
                                <i class="fa-solid fa-check"></i>
                                <h3>European Nearshore</h3>
                                <p>Most of our teams are positioned in central and eastern Europe, offering proximity regarding culture, timezone, travel.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="box">
                                <i class="fa-solid fa-check"></i>
                                <h3>Excellence Track Record</h3>
                                <p>Our Team-Owned-Firm model delivers highest team commitment for clients.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="box">
                                <i class="fa-solid fa-check"></i>
                                <h3>Top-Notch Quality</h3>
                                <p>High quality technical and business outcomes delivered by very experienced teams.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="box">
                                <i class="fa-solid fa-check"></i>
                                <h3>Competitive Price</h3>
                                <p>Excellent value for money, having project costs kept under control.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>