<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="content">
            <h1>Privacy Policy</h1>
            <a routerLink="/" class="link-btn">
                Back to Home
            </a>
        </div>
    </div>
</div>

<!-- Privacy Policy -->
<div class="privacy-policy-area ptb-100">
    <div class="container">
        <div class="privacy-policy-content">
            <h3>Introduction</h3>
            <p>At Duces we value your privacy and are committed to protecting and processing your personal information responsibly.</p>
            <p>This privacy statement describes how Duces collects, uses and shares your information. It applies to Duces and Duces affiliated firms except where a our affiliate presents its own statement without reference to Duces’s.</p>
            <p>We may provide additional data privacy information by using a supplementary privacy notice.</p>
            
            <h3>Personal Information We Collect and Use</h3>
            <p>This section describes the various types of information that we collect and how we use it.</p>
            <h4>Your Account</h4>
            <p>You can create an account with Duces. An account provides Duces with your name, email address, and country or region of residence. We may require an account for certain services, such as the use of Online Services.</p>
            <p>We may also store your details from business contact information that you provide to us, or that we collect from your organization, our Business Partners, or our suppliers.</p>
            <h4>Websites</h4>
            <p>Our websites offer ways to communicate with you about us, our products, and services. The information that we collect on websites is used to provide you with access to the website, to operate the website, to improve your experience, and to personalize the way that information is provided to you. If you visit our websites without logging in with an account, we may still collect information that is connected to your website visit.</p>
            <h4>Contractual Relationships</h4>
            <p>A contractual relationship is created when you order a trial, or a product or service from us. While we mainly provide our products and services to businesses, individuals may also enter into an agreement with us directly as a client. We may collect any information that is reasonably necessary to prepare for, enter, and fulfill, the contractual agreement.</p>
            <h4>Support Services</h4>
            <p>When you contact us to request support, we collect your contact information, problem description, and possible resolutions. We record the information that is provided to handle the support query, for administrative purposes, to foster our relationship with you, for staff training, and for quality assurance purposes.</p>
            <h4>Cookies and Similar Technologies</h4>
            <p>When you visit our websites, cloud and online services, software products, or view our content on certain third-party websites, we collect information regarding your connection by using various online tracking technologies, such as cookies, web beacons, Local Storage, or HTML5. Information that is collected with these technologies may be necessary to operate the website or service, to improve performance, to help us understand how our online services are used, or to determine the interests of our users. We use advertising partners to provide and assist in the use of such technologies on Duces and other sites.</p>
            
            <h3>Sharing Personal Information</h3>
            <p>We may share your personal information internally and externally with suppliers, advisors, or Business Partners for Duces's legitimate business purposes, and only on a need-to-know basis. This section describes how we share information and how we facilitate that sharing.</p>

            <h3>How We Share Personal Information</h3>
            <p>When sharing personal information, we implement appropriate checks and controls to confirm that the information can be shared.</p>
            <p>If we decide to sell, buy, merge, or otherwise reorganize businesses in some countries, such a transaction may involve disclosing some personal information to prospective or actual business purchasers, or the collection of personal information from those selling such businesses.</p>

            <h3>Facilitating International Transfers</h3>
            <p>Your information may be transferred to or accessed by Duces affiliates and third parties around the world. Duces complies with laws on the transfer of personal information between countries to keep your personal information protected, wherever it may be.</p>

            <h3>Controller and Representative Information</h3>
            <p>Duces does business through its subsidiaries worldwide. The privacy laws in some countries consider a Controller to be the legal entity (or natural person) who defines the purposes for which the processing of personal information takes place and how that information is processed. Parties that are involved in processing operations on behalf of a Controller may be designated as Processors. Designations and associated obligations differ, depending on the jurisdiction.</p>
            <p>Where this is relevant for the privacy laws in your country, the Controller of your personal information is Duces’s main subsidiary in your country or region, unless Duces or another Duces affiliate identifies itself as the Controller for a specific interaction with you.</p>

            <h3>Information Security and Retention</h3>
            <p>To protect your personal information from unauthorized access, use, and disclosure, we implement reasonable physical, administrative, and technical safeguards. These safeguards include role-based access controls and encryption to keep personal information private while in transit. We also require our Business Partners, suppliers, and third parties to implement appropriate safeguards, such as contract terms and access restrictions, to protect information from unauthorized access, use, and disclosure.</p>
            <p>We only retain personal information as long as necessary to fulfill the purposes for which it is processed, or to comply with legal and regulatory retention requirements. Legal and regulatory retention requirements may include retaining information for: audit and accounting purposes, statutory retention terms, the handling of disputes and the establishment, exercise, or defense of legal claims in the countries where we do business.</p>
            <p>When personal information is no longer needed, we have processes in place to securely delete it, for example by erasing electronic files and shredding physical records.</p>
        </div>
    </div>
</div>