<div id="services" class="services-area bg-f9f9f9 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Services</span>
            <h2>Professional Execution</h2>
            <p>We provide a highly specialised set of technology consulting services focused on Data and Artificial Intelligence.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-6610f2">
                        <i class="fa-solid fa-gears"></i>
                    </div>
                    <h3><a routerLink="/services-details"></a>Data<i>Anything</i> Implementation</h3>
                    <p>From DataWarehouse and DataLake to Operational Data Store, Master Data Management Hubs, strongly normalized using Inmon or Data Vault 2.0 or denormalized using Kimball.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-6610f2">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <h3><a routerLink="/services-details"></a>BigData Delivery</h3>
                    <p>Integrate a variety of data, at scale. Process pentabytes of structure and unstructured data, sensor data, video data, audio data, any data to derive insights and business value.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-6610f2">
                        <i class="fa-solid fa-cloud"></i>
                    </div>
                    <h3><a routerLink="/services-details"></a>Migration to Cloud</h3>
                    <p>Take advantage of the cloud's scalability and flexibility, reduced costs (when used accordingly!) - move our Data systems in the cloud and integrate your other on-prem or on-cloud systems.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-6610f2">
                        <i class="fa-solid fa-industry"></i>
                    </div>
                    <h3><a routerLink="/services-details"></a>Data Integration Factory</h3>
                    <p>+70% of your entire technical effort sit in the "back-end". Industrialize your data integration approach with standard designs, thorough method, real accelerators, continous deployment.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-6610f2">
                        <i class="fa-solid fa-database"></i>
                    </div>
                    <h3><a routerLink="/services-details"></a>Data Migration</h3>
                    <p>Move, integrate, consolidate, rationalize data from old Data (or ERP, transactional, etc.) system to new, using proven designs, reusable patters, prebuilt accelerators and precise execution. </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-6610f2">
                        <i class="fa-solid fa-flask"></i>
                    </div>
                    <h3><a routerLink="/services-details"></a>Data Science</h3>
                    <p>Extract knowledge and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of application domains.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-6610f2">
                        <i class="fa-solid fa-robot"></i>
                    </div>
                    <h3><a routerLink="/services-details"></a>Machine Learning Ops</h3>
                    <p>Industrialize our approach in using machine learning and artificial intelligence with continous integration and continous delivery.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-6610f2">
                        <i class="fa-solid fa-chart-pie"></i>
                    </div>
                    <h3><a routerLink="/services-details"></a>Reporting & Visualization</h3>
                    <p>From standard reports to ad-hoc reporting, charting and dashbording, advanced visualization to data storytelling VR and AR-based.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-6610f2">
                        <i class="fa-solid fa-list-check"></i>
                    </div>
                    <h3><a routerLink="/services-details"></a>Application Management</h3>
                    <p>Monitor loads, enhance and evolve in changing data sources or business requirements, functional and technical support your users.</p>
                </div>
            </div>
        </div>
    </div>
</div>