<div id="collaboration" class="ptb-100 bg-fcfbfb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="bc-what-we-do-content">
                    <div class="section-title">
                        <span class="sub-title">How We Work</span>
                        <h2>Collaboration Model</h2>
                        <p>We are flexible to accomodate to the method and ways of working at each project. All our consultants are experienced in agile, waterfall and hybrid delivery. In Data, we always aknowledge hybrid is best.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="bc-what-we-do-box">
                                <i class="icon fa-solid fa-people-group"></i>
                                <h3>Per-Area Teams</h3>
                                <p>We belive teams offer the best value, taking ownership from source system analysis, data modeling, data integration up to reporting. Usual team size in back-end is 7 and in front-end is 3.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="bc-what-we-do-box">
                                <i class="icon fa-solid fa-user"></i>
                                <h3>Individuals</h3>
                                <p>We engage ones-or-twos at early stages having an outlook to transition to a per-area team.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="bc-what-we-do-image">
                    <img src="assets/images/collaboration.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>