<div id="home" class="marketing-banner-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="marketing-banner-content">
                    <span class="sub-title">Data & .AI</span>
                    <h1>Elevating how your Data intensive systems are approached</h1>
                    <p>We provide a proven way to asses, design, develop, implement, deploy and manage your DataWarehouse, DataLake, Data<i>Anything</i> either on-prem or on-cloud.</p>
                    <button (click)="onClick('contact')" class="default-btn-two">
                        Hire Us <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="marketing-banner-image">
                    <img src="assets/images/banner/ai-1.png" alt="banner-image">
                </div>
            </div>
        </div>
    </div>
    <div class="dm-shape1">
        <img src="assets/images/shape1.png" alt="image">
    </div>
</div>