<div class="ptb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
                <div class="dm-funfacts-box">
                    <i class="fa-solid fa-hourglass"></i>
                    <h3>1150</h3>
                    <span class="sub-title">Years of Experience</span>
                    <img src="assets/images/border1.png" alt="icon-image" class="shape">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
                <div class="dm-funfacts-box">
                    <i class="fa-solid fa-users"></i>
                    <h3>35</h3>
                    <span class="sub-title">Happy Clients</span>
                    <img src="assets/images/border1.png" alt="icon-image" class="shape">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
                <div class="dm-funfacts-box">
                    <i class="fa-solid fa-people-group"></i>
                    <h3>170</h3>
                    <span class="sub-title">Data Engineers</span>
                    <img src="assets/images/border1.png" alt="icon-image" class="shape">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
                <div class="dm-funfacts-box">
                    <i class="fa-solid fa-trophy"></i>
                    <h3>03</h3>
                    <span class="sub-title">Innovation Awards</span>
                    <img src="assets/images/border1.png" alt="icon-image" class="shape">
                </div>
            </div>
        </div>
    </div>
</div>